
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.4.1.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <meta name="viewport" content="width=device-width" />
    <title>SweetAlert</title>
</head>
<body>
    <div>
        <br />
        <button class="btn-primary" id="btn1">Button1</button>
        <button class="btn-danger" id="btn2">Button2</button>

        <script>
            $('#btn1').click(function () {
                swal("Merhaba MVC!");
            });
        </script>
        <script>
            $('#btn2').click(function () {
                swal("MVC Proje!", "Deneme");
            });
        </script>

    </div>
</body>
</html>
