
@{
    ViewBag.Title = "ToDoList";
    Layout = "~/Views/Shared/_WriterLayout.cshtml";
}

@*
    velidator rengi değiştirme
    gelen validator ın mail olup olmadığını kontrol etme...
    true ise aktif değilse pasif yap
    yıldız işlemi
    gelen mesaj sayısı bulma
    taslaklar isminde bir şablon bizm göndermediğimiz ama kaydetdiğimiz mesajlar kaydedilcek
    bir mesaj açıldığında renkleri farklı gelsin dafult olarak font text bilgileri saklanmalı
    html.displayfor üzerinde datetime a çevirerek 15-may-1999 şeklinde nasıl yapılır @Model.MessageDate.ToString("dd-MMM-yyyy")
    admin tablosunda kullanıcı adı ve şifreyi hashleyerek tut ve çözerken hash i tutarak getir şifreleme algoritması kullabiliriz
    herhangi bir kullanıcı adı vs şifre yanlış ise mesaj  gönder
    kurumsal mimariye uygun biçimce yap
    gmail olup olmadığını kontrol et
    sertifika görevlerini yap
    ben robot değilim yap
    Sweet Alerti Projen ile KUllan
    URl de ıd yerine isim gelsin
    yetkisi b dışında olanların sadece kendi şifrelerini değiştirme  imkanı olan bir yapı yap session üzerinden vs
    Rolleri DropDownList ile çek yetkilendirmelerini hallet
    98-99-100
*@
<h4>YAPILACAKLAR</h4>

<p>#5 Token Kullanımı</p>
<p>#5 Google Chart Kullan</p>

